/********************/
/* Navigation Panel */
/********************/
.wy-side-nav-search {
    background-color: var(--red_mana);
    font-family: WizardWorldFont;
    height: 4em;
}

.icon-home {
    font-weight: normal !important;
}
.icon-home::before {
    content: '';
}

/*****************/
/* Content Panel */
/*****************/
/* Top Nav Bar */
.navigation-bar {
    font-size: 12px;
}

/* Content Panel */
.wy-nav-content {
    background-color: #eeeeee;
    min-height: 100vh;
    min-height: 100vh;

    font-family: 'Arvo', serif;
}

h1, h2, h3, h4, h5 {
    font-family: WizardWorldFont;
}

/* Footer */
footer {
    font-size: 12px;
}

/* Background */
.wy-nav-content-wrap {
    background-color: var(--black_mana);
}

