

.wy-side-nav-search {
    background-color: var(--red_mana);
    font-family: MagicTheGathering;
}

.wy-nav-content {
    background-color: var(--white_mana);
    min-height: 100vh;
    min-height: 100vh;
}

.wy-nav-content-wrap {
    background-color: var(--black_mana);
}

.navigation-bar {
    font-size: 12px;
}
